@model Product //نوع الموديل ال انت متخصص فيه  product واحد
<!--model-->
<!--Card-->

<h2 class="alert alert-warning text-center"> Details</h2>
<div class="card" style="width: 28rem;">
    <img src="/Images/@Model.Image" class="card-img-top" alt="...">
    <div class="card-body">      <!--product-->
        <h5 class="card-title">  @Model.Name - @Model.Price</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-text"><a asp-controller="Categories" asp-action="Details" asp-route-id="@Model.CategoryId" >   @Model.category.Name (@Model.category.Description) </a>  </p>  <!-- details for category-->
@*         <a href="#" class="  btn btn-primary ">Go somewhere</a> *@
        <a class="btn btn-primary" asp-area="" asp-controller="Products" asp-action="Index">Go somewhere</a>
    </div>

</div>

<div>              <!--Index-->
    <a asp-action="Getinexview">
        <!--ACTION FOR YOU "bACK TO LIST(Index)"-->
        Back To List
    </a>

</div>
